In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("UCI_Credit_Card.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

# Data Cleansing

In [15]:
df.isna().sum()[df.isna().sum()>0]

Series([], dtype: int64)

In [16]:
df.duplicated().sum()[df.duplicated().sum()>0]

array([], dtype=int64)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [22]:
for col in df.columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1
    print(f"IQR for {col} = {iqr}")

    fence_high = q3 + 1.5*iqr
    fence_low = q1 - 1.5*iqr

    outliers = df[(df[col] > fence_high) | (df[col] < fence_low)]
    df = df[(df[col] >= fence_low) & (df[col] <= fence_high)]
    print(outliers.shape)

IQR for ID = 14999.5
(0, 25)
IQR for LIMIT_BAL = 190000.0
(167, 25)
IQR for SEX = 1.0
(0, 25)
IQR for EDUCATION = 1.0
(450, 25)
IQR for MARRIAGE = 1.0
(0, 25)
IQR for AGE = 13.0
(266, 25)
IQR for PAY_0 = 1.0
(3053, 25)
IQR for PAY_2 = 1.0
(2246, 25)
IQR for PAY_3 = 1.0
(1246, 25)
IQR for PAY_4 = 1.0
(735, 25)
IQR for PAY_5 = 1.0
(427, 25)
IQR for PAY_6 = 1.0
(526, 25)
IQR for BILL_AMT1 = 64598.25
(1703, 25)
IQR for BILL_AMT2 = 47905.0
(967, 25)
IQR for BILL_AMT3 = 40073.25
(631, 25)
IQR for BILL_AMT4 = 29398.0
(994, 25)
IQR for BILL_AMT5 = 23949.0
(723, 25)
IQR for BILL_AMT6 = 19802.0
(742, 25)
IQR for PAY_AMT1 = 2811.0
(1828, 25)
IQR for PAY_AMT2 = 2364.5
(1235, 25)
IQR for PAY_AMT3 = 2000.0
(1086, 25)
IQR for PAY_AMT4 = 1700.0
(910, 25)
IQR for PAY_AMT5 = 1600.0
(747, 25)
IQR for PAY_AMT6 = 1500.0
(694, 25)
IQR for default.payment.next.month = 0.0
(1509, 25)

In [23]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.00000,7115.000000,7115.000000,...,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.0
mean,14804.367112,136892.480675,1.610260,1.834715,1.562474,35.041602,-0.365004,-0.63851,-0.697822,-0.735207,...,13319.463949,11466.513844,10517.344765,1572.358257,1398.121855,1064.222347,849.598032,844.262263,791.219115,0.0
std,8721.743912,110482.109059,0.487725,0.697562,0.524489,9.126340,0.843627,0.80885,0.838885,0.858169,...,16528.359967,14496.761738,13946.636822,1371.819732,1224.826862,1030.568102,895.766098,900.242340,884.399358,0.0
min,4.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.00000,-2.000000,-2.000000,...,-7905.000000,-10213.000000,-11610.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,7267.500000,50000.000000,1.000000,1.000000,1.000000,27.000000,-1.000000,-1.00000,-1.000000,-2.000000,...,0.000000,0.000000,0.000000,360.000000,217.500000,0.000000,0.000000,0.000000,0.000000,0.0
50%,14648.000000,100000.000000,2.000000,2.000000,2.000000,33.000000,0.000000,0.00000,0.000000,0.000000,...,3980.000000,2561.000000,1663.000000,1500.000000,1357.000000,1000.000000,660.000000,649.000000,542.000000,0.0
75%,22263.000000,200000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.00000,0.000000,0.000000,...,23158.500000,19844.000000,19320.500000,2055.500000,2000.000000,1631.000000,1302.000000,1349.500000,1223.000000,0.0
max,29993.000000,510000.000000,2.000000,3.000000,3.000000,60.000000,1.000000,1.00000,0.000000,0.000000,...,74100.000000,59984.000000,49701.000000,7620.000000,6284.000000,5000.000000,4186.000000,4000.000000,3746.000000,0.0