In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("loan_data_2007_2014.csv")
df.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15300\2365413417.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan_data_2007_2014.csv")

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Cleansing

## Data Information

In [3]:
df.isna().sum()[df.isna().sum() > 0]

emp_title                       27588
emp_length                      21008
annual_inc                          4
desc                           340304
title                              21
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         250351
mths_since_last_record         403647
open_acc                           29
pub_rec                            29
revol_util                        340
total_acc                          29
last_pymnt_d                      376
next_pymnt_d                   227214
last_credit_pull_d                 42
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
annual_inc_joint               466285
dti_joint                      466285
verification_status_joint      466285
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    466285
open_il_6m                     466285
open_il_12m                    466285
open_il_24m                    466285
mths_since_rcnt_il             466285
total_bal_il                   466285
il_util                        466285
open_rv_12m                    466285
open_rv_24m                    466285
max_bal_bc                     466285
all_util                       466285
total_rev_hi_lim                70276
inq_fi                         466285
total_cu_tl                    466285
inq_last_12m                   466285
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

Eliminated irrelevant features and features with 100% missing values

In [5]:
df = df.dropna(axis=1, how="all")
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.isna().sum()[df.isna().sum() > 0]

emp_title                       27588
emp_length                      21008
annual_inc                          4
desc                           340304
title                              21
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         250351
mths_since_last_record         403647
open_acc                           29
pub_rec                            29
revol_util                        340
total_acc                          29
last_pymnt_d                      376
next_pymnt_d                   227214
last_credit_pull_d                 42
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125981 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466264 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  acc_now_delinq               466256 non-null  float64
 54  tot_coll_amt                 396009 non-null  float64
 55  tot_cur_bal                  396009 non-null  float64
 56  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(29), int64(6), object(22)
memory usage: 202.8+ MB

## Handle Missing Values

In [7]:
missing_percentage = round((df.isna().sum()[df.isna().sum()>0] / len(df)) * 100, 2)
print(missing_percentage)
print(len(missing_percentage))

emp_title                       5.92
emp_length                      4.51
annual_inc                      0.00
desc                           72.98
title                           0.00
delinq_2yrs                     0.01
earliest_cr_line                0.01
inq_last_6mths                  0.01
mths_since_last_delinq         53.69
mths_since_last_record         86.57
open_acc                        0.01
pub_rec                         0.01
revol_util                      0.07
total_acc                       0.01
last_pymnt_d                    0.08
next_pymnt_d                   48.73
last_credit_pull_d              0.01
collections_12_mths_ex_med      0.03
mths_since_last_major_derog    78.77
acc_now_delinq                  0.01
tot_coll_amt                   15.07
tot_cur_bal                    15.07
total_rev_hi_lim               15.07
dtype: float64
23

There are 23 features with missing values, with even three of three features having more 70% missing values

In [8]:
missing_info = pd.DataFrame({
    "Column Name": missing_percentage.index,
    "Missing Percentage": missing_percentage.values,
    "Data Type": df[missing_percentage.index].dtypes.values
})

print(missing_info)

                    Column Name  Missing Percentage Data Type
0                     emp_title                5.92    object
1                    emp_length                4.51    object
2                    annual_inc                0.00   float64
3                          desc               72.98    object
4                         title                0.00    object
5                   delinq_2yrs                0.01   float64
6              earliest_cr_line                0.01    object
7                inq_last_6mths                0.01   float64
8        mths_since_last_delinq               53.69   float64
9        mths_since_last_record               86.57   float64
10                     open_acc                0.01   float64
11                      pub_rec                0.01   float64
12                   revol_util                0.07   float64
13                    total_acc                0.01   float64
14                 last_pymnt_d                0.08    object
15                 next_pymnt_d               48.73    object
16           last_credit_pull_d                0.01    object
17   collections_12_mths_ex_med                0.03   float64
18  mths_since_last_major_derog               78.77   float64
19               acc_now_delinq                0.01   float64
20                 tot_coll_amt               15.07   float64
21                  tot_cur_bal               15.07   float64
22             total_rev_hi_lim               15.07   float64

In [11]:
df = df.dropna(subset=missing_percentage[missing_percentage < 10].index)
print(round((df.isna().sum()[df.isna().sum()>0] / len(df)) * 100, 2))

desc                           73.20
mths_since_last_delinq         53.62
mths_since_last_record         87.09
next_pymnt_d                   48.85
mths_since_last_major_derog    78.88
tot_coll_amt                   14.98
tot_cur_bal                    14.98
total_rev_hi_lim               14.98
dtype: float64

We eliminated features with less than 10% missing value and kept features with more than 10% missing values

## Deskriptive Statistics

In [13]:
num_cols = df.select_dtypes("number").columns
cat_cols = df.select_dtypes("object").columns

print(f"Numerical Columns {num_cols}")
print(f"Categorical Columns {cat_cols}")

Numerical Columns Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim'],
      dtype='object')
Categorical Columns Index(['term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type'],
      dtype='object')

In [25]:
df[num_cols].describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
count,4.377090e+05,4.377090e+05,437709.000000,437709.000000,437709.000000,437709.000000,437709.000000,4.377090e+05,437709.000000,437709.000000,...,437709.000000,437709.000000,437709.000000,437709.000000,92436.000000,437709.0,437709.000000,3.721610e+05,3.721610e+05,3.721610e+05
mean,1.313856e+07,1.465976e+07,14442.785161,14417.452177,14348.796897,13.823953,434.982544,7.412606e+04,17.216794,0.287058,...,84.633691,8.891871,3188.095737,0.009072,42.830045,1.0,0.004023,1.892090e+02,1.408849e+05,3.049337e+04
std,1.091121e+07,1.170089e+07,8278.534233,8267.108792,8290.350609,4.358291,242.815094,5.517243e+04,7.813355,0.800888,...,551.424555,84.400762,5613.300070,0.108754,21.670294,0.0,0.068934,1.508285e+04,1.526475e+05,3.745924e+04
min,5.552100e+04,7.472400e+04,500.000000,500.000000,0.000000,5.420000,15.670000,1.896000e+03,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000e+00,0.000000e+00,1.000000e+02
25%,3.642788e+06,4.418034e+06,8000.000000,8000.000000,8000.000000,10.990000,260.490000,4.550000e+04,11.400000,0.000000,...,0.000000,0.000000,317.540000,0.000000,26.000000,1.0,0.000000,0.000000e+00,2.966200e+04,1.370000e+04
50%,1.012059e+07,1.195335e+07,12375.000000,12325.000000,12175.000000,13.660000,382.990000,6.400000e+04,16.870000,0.000000,...,0.000000,0.000000,554.040000,0.000000,42.000000,1.0,0.000000,0.000000e+00,8.472900e+04,2.300000e+04
75%,2.076923e+07,2.303356e+07,20000.000000,20000.000000,20000.000000,16.490000,569.950000,9.000000e+04,22.750000,0.000000,...,0.000000,0.000000,3375.970000,0.000000,59.000000,1.0,0.000000,0.000000e+00,2.117870e+05,3.810000e+04
max,3.809811e+07,4.086083e+07,35000.000000,35000.000000,35000.000000,26.060000,1409.990000,7.500000e+06,39.990000,29.000000,...,33520.270000,7002.190000,36234.440000,20.000000,188.000000,1.0,5.000000,9.152545e+06,8.000078e+06,9.999999e+06

In [17]:
df[cat_cols].describe().transpose()

,count,unique,top,freq
term,437709,2,36 months,314586
grade,437709,7,B,128588
sub_grade,437709,35,B3,29730
emp_title,437709,204992,Teacher,5392
emp_length,437709,11,10+ years,147165
home_ownership,437709,6,MORTGAGE,222212
verification_status,437709,3,Verified,148957
issue_d,437709,89,Oct-14,36651
loan_status,437709,9,Current,210060
pymnt_plan,437709,2,n,437700
url,437709,437709,https://www.lendingclub.com/browse/loanDetail....,1
desc,117314,115945,,215
purpose,437709,14,debt_consolidation,259632
title,437709,59048,Debt consolidation,155183
zip_code,437709,887,945xx,5013
addr_state,437709,50,CA,67164
earliest_cr_line,437709,647,Oct-00,3498
initial_list_status,437709,2,f,283417
last_pymnt_d,437709,98,Jan-16,168392
next_pymnt_d,223891,99,Feb-16,195503
last_credit_pull_d,437709,100,Jan-16,308334
application_type,437709,1,INDIVIDUAL,437709

In [30]:
for col in cat_cols: 
    print(f"\nCount Values for {col}")
    print(df[col].value_counts())

Count Values for term
term
36 months    314586
60 months    123123
Name: count, dtype: int64

Count Values for grade
grade
B    128588
C    117685
D     71987
A     70348
E     33550
F     12432
G      3119
Name: count, dtype: int64

Count Values for sub_grade
sub_grade
B3    29730
B4    28661
C1    25282
C2    25154
B2    24953
C3    23789
B5    23721
C4    22640
B1    21523
C5    20820
A5    20473
D1    18028
A4    17864
D2    15974
D3    13941
D4    13218
A3    11772
D5    10826
A2    10298
A1     9941
E1     8473
E2     8153
E3     6537
E4     5641
E5     4746
F1     3684
F2     2826
F3     2550
F4     1943
F5     1429
G1     1038
G2      774
G3      550
G4      398
G5      359
Name: count, dtype: int64

Count Values for emp_title
emp_title
Teacher                            5392
Manager                            4429
Registered Nurse                   2314
RN                                 2202
Supervisor                         1966
                                   ...
general motors                        1
Licking County Government             1
William Paradiso & Associates         1
America Come Back To God Church       1
Server Engineer Lead                  1
Name: count, Length: 204992, dtype: int64

Count Values for emp_length
emp_length
10+ years    147165
2 years       40881
3 years       35979
< 1 year      35545
5 years       30193
1 year        29311
4 years       27515
7 years       25727
6 years       25689
8 years       22053
9 years       17651
Name: count, dtype: int64

Count Values for home_ownership
home_ownership
MORTGAGE    222212
RENT        178109
OWN          37172
OTHER          172
NONE            43
ANY              1
Name: count, dtype: int64

Count Values for verification_status
verification_status
Verified           148957
Not Verified       145682
Source Verified    143070
Name: count, dtype: int64

Count Values for issue_d
issue_d
Oct-14    36651
Jul-14    28060
Nov-14    23610
May-14    18179
Apr-14    18019
          ...
Oct-07       97
Aug-08       96
Sep-08       54
Sep-07       47
Aug-07       20
Name: count, Length: 89, dtype: int64

Count Values for loan_status
loan_status
Current                                                210060
Fully Paid                                             174993
Charged Off                                             38825
Late (31-120 days)                                       6421
In Grace Period                                          3011
Does not meet the credit policy. Status:Fully Paid       1818
Late (16-30 days)                                        1128
Default                                                   776
Does not meet the credit policy. Status:Charged Off       677
Name: count, dtype: int64

Count Values for pymnt_plan
pymnt_plan
n    437700
y         9
Name: count, dtype: int64

Count Values for url
url
https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077430     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26240336    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26250217    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26400176    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26189930    1
                                                                        ..
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3726342     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3697050     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3726350     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3162669     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=9604874     1
Name: count, Length: 437709, dtype: int64

Count Values for desc
desc
                                                                                                                                                                                                                                                   215
Debt Consolidation                                                                                                                                                                                                                                  12
  Borrower added on 03/17/14 > Debt consolidation<br>                                                                                                                                                                                               10
  Borrower added on 03/10/14 > Debt consolidation<br>                                                                                                                                                                                               10
  Borrower added on 02/19/14 > Debt consolidation<br>                                                                                                                                                                                                7
                                                                                                                                                                                                                                                  ...
  Borrower added on 09/24/13 > To consolidate some higher interest credit card debt. All credit cards being paid off are current and in good standing. I just have not been able to chip off enough principal as I would like.<br>                   1
  Borrower added on 09/24/13 > I am going to consolidate higher interest credit card and other debt into one payment.<br>                                                                                                                            1
  Borrower added on 09/24/13 > PAy of credit cards<br>                                                                                                                                                                                               1
  Borrower added on 09/24/13 > I am moving closer to work and do not want a long commute.<br>                                                                                                                                                        1
  Borrower added on 12/06/13 > I am going to consolidate a credit card debt from medical and moving expenses with a loan I already have. I have paid everything on time for years, I just need to eliminate this high interest credit card.<br>      1
Name: count, Length: 115945, dtype: int64

Count Values for purpose
purpose
debt_consolidation    259632
credit_card            97508
home_improvement       24389
other                  21772
major_purchase          9162
small_business          5842
car                     5051
medical                 4243
moving                  2765
vacation                2289
wedding                 2253
house                   2112
educational              374
renewable_energy         317
Name: count, dtype: int64

Count Values for title
title
Debt consolidation                   155183
Credit card refinancing               58308
Debt Consolidation                    15179
Home improvement                      13696
Other                                 11749
                                      ...
make it                                   1
Restructure Last Credit Card Debt         1
team player                               1
helping loan                              1
Paying off the car and some bills         1
Name: count, Length: 59048, dtype: int64

Count Values for zip_code
zip_code
945xx    5013
750xx    4857
112xx    4819
606xx    4451
100xx    4147
         ...
569xx       1
621xx       1
838xx       1
502xx       1
901xx       1
Name: count, Length: 887, dtype: int64

Count Values for addr_state
addr_state
CA    67164
NY    37785
TX    34599
FL    29231
IL    17585
NJ    17179
PA    15477
OH    14262
GA    14060
VA    13552
NC    11798
MI    10583
MA    10557
MD    10393
AZ     9877
WA     9855
CO     9188
MN     7736
MO     7022
CT     6791
IN     6171
NV     5993
TN     5590
WI     5559
OR     5473
AL     5441
SC     5180
LA     5146
KY     4132
KS     3929
OK     3850
UT     3273
AR     3220
NM     2372
HI     2356
WV     2194
NH     2118
RI     1957
DC     1379
MT     1294
AK     1185
DE     1179
MS     1145
WY     1078
SD      925
VT      839
IA       14
NE       10
ID       10
ME        3
Name: count, dtype: int64

Count Values for earliest_cr_line
earliest_cr_line
Oct-00    3498
Aug-00    3432
Aug-01    3304
Oct-99    3269
Oct-01    3195
          ...
Sep-60       1
Jun-59       1
Nov-58       1
May-62       1
Nov-56       1
Name: count, Length: 647, dtype: int64

Count Values for initial_list_status
initial_list_status
f    283417
w    154292
Name: count, dtype: int64

Count Values for last_pymnt_d
last_pymnt_d
Jan-16    168392
Dec-15     58027
Jul-15     11081
Oct-15     10581
Sep-15      9640
           ...
Apr-08        18
Mar-08        13
Feb-08         6
Jan-08         6
Dec-07         1
Name: count, Length: 98, dtype: int64

Count Values for next_pymnt_d
next_pymnt_d
Feb-16    195503
Jan-16     25885
Mar-11       106
Apr-11        98
Feb-11        88
           ...
Aug-14         2
Dec-15         2
May-08         1
Feb-08         1
Mar-15         1
Name: count, Length: 99, dtype: int64

Count Values for last_credit_pull_d
last_credit_pull_d
Jan-16    308334
Dec-15     13166
Nov-15      7873
Sep-15      7593
Oct-15      7524
           ...
Nov-07         3
Oct-07         2
May-08         1
Jun-08         1
Jul-08         1
Name: count, Length: 100, dtype: int64

Count Values for application_type
application_type
INDIVIDUAL    437709
Name: count, dtype: int64